<div id="signin_modal" class=" modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please sign in using one of the following services:</h4>
            </div>
            <div class="modal-body">
                <a href="#">
                <div id="gSignInWrapper">
                    <span class="label"></span>
                    <div id="customBtn" class="customGPlusSignIn">
                        <span class="icon google_icon"></span>
                        <span class="buttonText">Sign In with Google</span>
                    </div>
                </div>
                </a>
                <br>
                <a href="#">
                <div id="fSignInWrapper">
                    <span class="label"></span>
                    <div id="customBtn" class="customFacebookSignIn">
                        <span class="icon facebook_icon"></span>
                        <span class="buttonText">Sign In with Facebook</span>
                    </div>
                </div>
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
