<% content_for :title do%>
    Terms and Conditions
<% end %>

<h3 class="center_align"><b><u>Terms and Conditions</u></b></h3>
<br><br>
<p class="center_align">
We will do whatever the fuck we want with the data that we receive. Live with that.
</p>
