<div class="container_fluid app_div">
    <div class="col-md-3 col-xs-3">
        <div class="row app_element_property">App Name</div>
        <div class="row app_element_property">App Secret ID</div>
        <div class="row app_element_property">App Secret Key</div>
        <div class="row app_element_property">App Access Level</div>
    </div>
    <div class="col-md-9 col-xs-9">
        <div class="row app_element_value"><%= app.name %></div>
        <div class="row app_element_value"><%= app.secret_id %></div>
        <div class="row app_element_value"><%= app.secret_key %></div>
        <div class="row app_element_value"><%= app.access_level %></div>
    </div>
</div>
