<% content_for :title do%>
    <%= @app.name %>
<% end %>

<% content_for :title_content do%>
    My Apps > <%= @app.name %>
<% end %>

<div class="app_show_div">
    <%= render @app %>
</div>

<div class="app_setting">
    Settings
</div>
